tr.azpswc-separator {
    border-bottom: 1px solid #ccc;
}
tr.azpswc-separator label {
    font-weight: bold;
    line-height: 1;
    font-size: 16px;
}
tr.azpswc-separator td{
    display: none;
}

.azpswc_btn_pro{
	font-weight: bold;
	color: Red;
}